body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.h1{
    color: #FF8F01;
    text-align: center;
}

.p{
    color: white;
    font-size: 23px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.li{
    color: white;
    font-size: 23px;
    margin-right: 5cm;
    margin-bottom: 4cm;
    margin-left: 60px;
}

.li1{
    color: white;
    font-size: 23px;
}


