body{
    background-image: url("http://getwallpapers.com/wallpaper/full/6/c/4/1391985-download-free-dark-background-images-1920x1080-ipad-pro.jpg");
}

.h1{
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.li{
    color: white;
    font-size: 23px;
    margin-right: 5cm;
}

.img{
    image-rendering: pixelated;
    margin-left: 3cm;
    width: 50%;
    height: auto;
    margin-bottom: 3cm;
    
}

table, th, td {
    border: 1px solid aqua;
}

div{
    color: white;
}

a {
    text-decoration: none;
    color: greenyellow;
    
}
table, th, td {
    border: 1px solid aqua;
}
th, td {
    padding: 15px;
}

.container-footer {
    display: grid;
    grid-gap: 50px 20px;
    grid-template-columns: auto auto auto;
    background-color: black;
}
.container-footer > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}
.lifooter {
    list-style-type: none;
    text-decoration: none;
    color: aqua;
}
#fbdev {
    text-decoration: none;
    color: blue;
}
.redirect-bar li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: nowrap;
    list-style: outside none none;
    display: inline-block;
    width: 250px;
    list-style-type: none;

}
.redirect {
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: steelblue;
    font-weight: 400;
}
.top-panel {
    background-color: black;
}
.header1 {
    color: darkblue;
    
    display: inline;
}
.black-background {
    display: flex;
    align-items: center;
    margin-left: 75px;
}
