.redirect-bar li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: nowrap;
    list-style: outside none none;
    display: inline-block;
    width: 200px;
    list-style-type: none;

}
.redirect {
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: steelblue;
    font-weight: 400;
}
.top-panel {
    background-color: black;
}
.header1 {
    color: darkblue;
    
    display: inline;
}
.black-background {
    display: flex;
    align-items: center;
    margin-left: 75px;
}
