.mainlistul li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: nowrap;
    list-style: outside none none;
    display: inline-block;
    width: 415px;
    list-style-type: none;
    

}
.maintext {
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: yellow;
    font-weight: 400;
}
.mainlist {
    text-align: center;
}


body {
    background-color: black;
    background-image: url(https://cdn-www.bluestacks.com/bs-images/bg198.jpg);
}
#welcomemain {
    color: thistle;
    font-size: 40px;
}
#welcomemain2 {
    color: chartreuse;
    font-size: 30px;
}
